@import "vars";
@import "libs";
@import "fonts";
$dark-pink:#0D1526;
$inputs-color:#132039;
$light-blue:#9FB5DF;
$dark-blue:#192B4D;
$grey:#808080;
$red:#FF0040;
$red-light:#FF3366;
$redHover:#E50039;
$navcolor:#14181F;
$pagcolor:#868A92;
$mainbg:#F0F1F5;
$green:#00B268;
$greennav:#00B377;
html{
    height: 100%;
    margin: 0;
}
body{
    height: 100%;
    font-family: 'Muller', 'sans-serif';
    margin: 0;
    // font-family: $kasperfort;
    font-size: 14px;
    line-height: 17px;
    // color: $main-color;
    // @include for-sm(){
    //     font-size: 12px;
    //     line-height: 14px;
    // }
}
input{
  appearance: none;
  outline: none;
  border: none;
}
a{
  color: $red-light;
  text-decoration: none;
  transition: .3s;
  &:hover{
    color: $redHover;
  }
}
img{
    max-width:100%
}
.wrapper{
    position: relative;
    overflow: hidden;
}
.container{
  max-width: 1500px;
  margin: 0 auto;
  width: 94%;
  @include for-desk(){
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }
}
.row{
  display: flex;

  &--align-center{
    align-items: center;
  }
}
button{
  cursor: pointer;
  outline: none;
  border: none;
}
.button{
  cursor: pointer;
  transition: .3s;
  font-size: 14px;
  line-height: 17px;
  border-radius: 3px;
  box-sizing: border-box ;
  display: inline-flex;
  color: $white;
  transition: .3s;
  text-align: center;
  &--round{
    color: $dark-pink;
    border: 1px solid $red;
    border-radius: 3px;
    padding: 10.5px 59px;
    &:hover{
      color: $white;
      background-color: $red;
    }
  }
  &--grey{
    color: $navcolor;
    background-color: $mainbg;
    &:hover{
      background-color: #E0E4EB;
    }
  }
  &--default{
    background-color: $red;
    text-align: center;
    justify-content: center;
    &:hover{
      background-color: $redHover;
      color: $white;
    }
  }
  &--size-medium{
    padding: 11.5px 10px;
  }
  &--size-big{
    padding: 16.5px 20px;
    font-weight: 700;
  }
}
.header{
  padding: 20px 0;
  background-color: $dark-pink;
  &__row{
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    max-width: 100%;
    height: 40px;
    flex-shrink: 0;
  }
  &__search{
    width: 100%;
    margin: 0 30px;
  }
  &__nav-tabs{
    flex-shrink: 0;
  }

}
.main{
  background-color: $mainbg;
}
.logo{
  img{
    height: 100%;
  }
}
.search{
  &__form{
    position: relative;

    &-input{
      height: 40px;
      background-color: $inputs-color;
      border-radius: 2px;
      display: block;
      width: 100%;
      padding: 0 40px 0 20px;
      box-sizing: border-box;
      transition: .3s;
      &::placeholder{
        color: $light-blue;
        transition: .3s;
      }
      &:focus{
        &::placeholder{
          opacity: 0;
        }
      }
    }
    &-voice-button{
      position: absolute;
      right: 10px;
      padding: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      color: $light-blue;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      cursor: pointer;
      i{
        font-size: 18px;
      }
    }
  }
}
.nav-tabs{
  display: flex;
  align-items: center;
  &__item{
    display: flex;
    align-items: center;
    & + .nav-tabs__item{
      margin-left: 30px;
    }
    &-icon{
      position: relative;
      height: 30px;
      width: 30px;
      flex-shrink: 0;
     &:not(.nav-tabs__item-icon--without-info){
       margin-right: 15px;
     }
      svg{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &-value{
      position: absolute;
      width: 18px;
      height: 18px;
      top: -8px;
      right: -8px;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      text-align: center;
      font-size: 10px;
      line-height: 19px;
      color: $white;
      border: 2px solid $dark-pink;
      border-radius: 50%;
      &:not(.nav-tabs__item-value--active){
        background-color: $grey;
      }
      &--active{
        background-color: $red;
      }
    }
    &-top{
      a{
        font-size: 14px;
        line-height: 17px;
        color: $white;
        font-weight: 700;
      }
    }
    &-bottom{
      a{
        color: $light-blue;
      }
    }
  }
}
.hero{
  padding: 30px;
  &__main-slider{
    width: 69.5%;
  }
  &__banners{
    width: 31.5%;
  }
  &__row{
    margin: 0 -15px;
  }
  &__main-slider,&__banners{
    padding: 0 15px;
    box-sizing: border-box;
  }
  &__banners-item{
    display: block;
    min-height: 200px;
    box-sizing: border-box;
    padding: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    &-name{
      margin-bottom: 10px;
    }
    &-name,&-coast{
      font-size: 16px;
      line-height: 20px;
      color: $white;
      display: block;
    }

    & + .hero__banners-item{
      margin-top: 30px;
    }
  }
}
.main-slider{
  &__swiper{
    height: 100%;
    position: relative;
    overflow: hidden;

  }
  &__swiper-slide{
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 60px;
    transition: .3s;
  }
  
  &__pretitle{
    font-size: 14px;
    line-height: 17px;
    color: $white;
  }
  &__title{
    font-size: 30px;
    line-height: 36px;
    color: $white;
    margin: 20px 0;
  }
  &__nav{
    position: absolute;
    left: 60px;
    display: flex;
    bottom: 60px;
    z-index: 50;
    &-arrow{
      font-size: 18px;
      color: $navcolor;
      background-color: $white;
      width: 40px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:first-child{
        border-radius: 3px 0 0 3px;
      }
      &:last-child{
        border-radius: 0 3px 3px 0;
      }
    }
    &-arrow + &-arrow{
      margin-left: 2px;
    }
  }
  &__swiper-pagination{
    position: absolute;
    top: 60px;
    right: 60px;
    z-index: 50;
    display: flex;
    .swiper-pagination-bullet{
      background-color: rgba($white, .5);
      transition: .3s;
      height: 6px;
      width: 6px;
      border-radius: 50%;


      &.swiper-pagination-bullet-active{
        background-color: rgba($white, 1);
      }
    }
    .swiper-pagination-bullet + .swiper-pagination-bullet{
      margin-left: 10px;
    }
  }
  &__bottom{
    box-sizing: border-box;
    padding-left: 95px;
  }
  &__button{
    max-width: 180px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
  }
}
.section-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  &__title{
    margin: 0;
    font-size: 26px;
    line-height: 30px;
    color: $navcolor
  }
  &__button{
    margin-left: 20px;
  }
}
.aboutUs{
  &__row{
    margin: 0 -15px;
    box-sizing: border-box;
  }
  &__item{
    width: 50%;
    padding: 0 15px;
  }
  &__info{
    display: flex;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
    background-color: $white;
  }
  &__left{
    flex-shrink: 0;
    width: 160px;
    margin-right: 30px;
  }
  &__right{
    width: 100%;
  }
  &__miniblog{
    padding: 30px;
    box-sizing: border-box;
    background-color: $white;
  }
}
.miniblog{
  &__row{
    margin: 0 -15px;
  }
  &__item-container{
    padding: 0 15px;
    box-sizing: border-box;
    width: 33.3%;
  }
}
.blog-item{
  &__image-container{
    display: block;
    height: 155px;
    margin-bottom: 20px;

    img:not(.blog-item__image--noimage){
      object-fit: cover;
      object-position: calc();
      height: 100%;
      width: 100%;
      display: block;
    }
  }
  &__name{
    color: $red;
  }
  &__date{
    font-size: 12px;
    line-height: 15px;
    color: #8592AD;
  }
}
.reviews{
  &__row{
    padding: 30px;
    box-sizing: border-box;
    background-color: $white;
  }
  &__icon-container{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    flex-shrink: 0;
    border-radius: 3px;
    background-color: $green;
  }
  &__content{
    display: flex;
    width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
  }
  &__agr-list{
    width: 50%;
    padding-left: 30px;
    box-sizing: border-box;
    border-left: 1px solid #E0E4EB;
    display: flex;
  }
  &__title{
    font-size: 22px;
    line-height: 25px;
    color: $navcolor;
    margin: 0 0 0;
  }
  &__side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__rating{
    font-size: 30px;
    line-height: 40px;
    b{
      font-size: 40px;
    }
  }
  &__desc{
    color: #8592AD;
  }
}
.agr-list{
  &__row{
    margin: 0 -15px;
    width: 100%;
  }
  &__item-container{
    padding: 0 15px;
    box-sizing: border-box;
    width: 33.3%;
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #F6F7F9;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;

    img{
      max-height: 40px;
    }
  }
}

.tizers{
  background-color: $red;
  padding: 30px 0;
  &__row{
    margin: 0 -15px;
  }
  &__item-container{
    padding: 0 15px;
    box-sizing: border-box;
    width: 33.3%;
  }
  &__item{
    display: flex;
    align-items: center;
    &-image-container{
      height: 100px;
      width: 100px;
      flex-shrink: 0;
      margin-right: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: $white;
    }
    &-image{
      max-width: 100%;
      max-height: 50px;
    }
    &-content{
      padding: 15px 0;
      box-sizing: border-box;
      color: $white;
    }
    &-title{
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    &-desc{
      font-size: 12px;
      line-height: 15px;
    }
  }
  

}
.visited{
 
  box-sizing: border-box;
  &__title{
    position: relative;
    font-size: 18px;
    line-height: 21px;
    color: $navcolor;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: linear-gradient(90deg, rgba(224,228,235,1) 50%, rgba(255,255,255,0) 100%);
    }
  }
  &__row{
    padding: 30px 30px 0;
    background-color: $white;
  }
}

.visited-slider{
  position: relative;
  overflow: hidden;
  &__wrapper{
    flex-wrap: wrap;

  }
  &__slide{
    margin-bottom: 30px;
    margin-top: 0 !important;
  }
}
.visited-item{
  display: flex;
  align-items: center;
  &__image-container{
    flex-shrink: 0;
    margin-right: 20px;
  }
  &__name{
    color: $navcolor;
    font-size: 14px;
    line-height: 21px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;

  }
  &__coast{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: $red;
  }
}
.footer{
  padding: 100px 0 50px;
  background-color: $dark-pink;
  color: $white;

  &__row{
    margin: 0 -15px;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  &__item{
    padding: 0 15px;
    box-sizing: border-box;

    &--w25{
      width: 25%;
    }
    &--grow{
      flex-grow: 1;
    }
  }
  &__title{
    font-size: 30px;
    line-height: 33px;
    font-weight: 500;
    margin-bottom: 20px;
    &:after{
      content: '';
      display: block;
      background-color: $red-light;
      height: 2px;
      width: 50px;
      margin-top: 15px;
    }
  }
  &__nav-list,&__contacts{
    padding: 0;
    margin: 0;
    list-style: none;
   &Item + .footer__nav-listItem{
     margin-top: 10px;
   }
  }
  &__link{
    color: #9FB5DF;
    font-size: 14px;
    line-height: 17px;
    transition: .3s;
    &:hover{
      color: $white;
    }
  }
  &__contacts-item{
    display: flex;
    align-items: flex-start;
    color: $light-blue;
    font-size: 14px;
    line-height: 17px;
    & + .footer__contacts-item{
      margin-top: 10px;
    }
    i{
      flex-shrink: 0;
      margin-right: 10px;
      font-size: 16px;
      color: $white;
    }
  }
  &__copy{
    font-size: 14px;
    line-height: 18px;
    color: $white;
    margin-top: 70px;
    p{
      margin: 0;
    }
  }
  &__social{
    margin-top: 50px;
  }
  &__pays{
    display: flex;
    align-items: center;
    margin-top: 20px;
    img{
      max-height: 30px;
    }
    img + img{
      margin-left: 15px;
    }
  }
  &__bottom{
    margin-top: 30px;
    padding-top: 50px;
    border-top: 1px solid $dark-blue;
  }
  &__otherMenu{
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;

    &-item + .footer__otherMenu-item{
      margin-left: 15px;
    }
  }
  &__logo{
    display: flex;
    align-items: center;
    img{
      max-width: 45px;
      flex-shrink: 0;
      margin-right: 20px;
    }
    &-content{
      width: 100%;
    }
    &-dev{
      font-size: 10px;
      line-height: 13px;
    }

  }

  
}
.social{
  &__list{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__list-item + .social__list-item{
    margin-left: 15px;
  }
  &__link{
    position: relative;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
    font-size: 14px;
    line-height: 17px;
    transition: .3s;
    border-radius: 3px;
    &:hover{
      color: $white;
    }
    &--vk{
      border: 1px solid #0080FF;
      &:hover{
        background-color: #0080FF;
      }
    }
    &--fb{
      border: 1px solid #002BFF;
      &:hover{
        background-color: #002BFF;
      }
    }
    &--in{
      border: 1px solid #FF007F;
      &:hover{
        background-color: #FF007F;
      }
    }
  }
}

.catalog-preview{
  padding: 30px 0;

  &__item-container{
    width: 20%;
    box-sizing: border-box;
  }
}
.preview-item{
  position: relative;
  background-color: $white;
  padding: 10px 20px 20px;
  box-sizing: border-box;
  &:hover{
    .preview-item__bottom{
      display: block;
    }
  }
  &__stickers{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  &__image-container{
    position: relative;
    overflow: hidden;
  }
  &__image-slider{
    position: relative;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  &__stickers{
    position: absolute;
    top: 0;
  }
  &__image-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 195px;
    width: 100%;
    img{
      max-height: 205px;
    }
  }
  &__swiper-pagination{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    .swiper-pagination-bullet{
      height: 2px;
      background-color: #E0E4EB;
      transition: .3s;
      width: calc(25% - 2px);
      &.swiper-pagination-bullet-active{
        background-color: #C1C8D7;
      }
    }

    
  }
  &__rating{
    display: flex;
    align-items: center;

    &:hover{
      color: $white;
    }
    &-value{
      display: flex;
      font-size: 12px;
      line-height: 12px;
      padding: 5px 7px 5px 5px;
      box-sizing: border-box;
      border-radius: 0 5px 5px 0;
      background-color: $greennav;
      align-items: center;
      margin-right: 8px;
      flex-shrink: 0;
      color: $white;
      i{
        font-size: 10px;
        line-height: 13px;
        margin-right: 3px;
      }
    }
    &-text{
      display: none;
    }
    &-counter{
      font-size: 12px;
      line-height: 15px;
      color: #8592AD;
    }
   
  }
  &__name{
    color: $dark-pink;
    font-size: 14px;
    line-height: 17px;

  }
  &__info{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &-vendor{
      font-size: 12px;
      line-height: 15px;
      color: #8592AD;
    }


  }

  &__coast{
    &-value{
      font-size: 18px;
      line-height: 21px;
      color: $dark-pink;
      font-weight: 700;

      span{
        font-size: 12px;
        line-height: 15px;
        color: #8592AD;
        font-weight: 400;
      }
    }
  }
  &__available{
   
    font-size: 12px;
    line-height: 15px;

    &--true{
      color: $greennav;
    }

    &-value{
      font-size: 12px;
      line-height: 15px;
      color: #8592AD;
      display: none;
      i{
        margin-right: 5px;
      }

    }
  }

  &__counter-wrap{
    display: flex;
  }
  &__counter{
    margin-right: 5px;
    width: 50%;
  }
  &__addToCart{
    width: 50%;
    margin-left: 5px;
  }
  &__fastBuy{
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
  &__options{
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
  }
  &__option{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 15px;
    &:before{
      content: '';
      position: absolute;
      bottom: 5px;
      right: 0;
      width: 100%;
      border-top: 1px dotted #8592AD;
    }
    &-name{
      color: #8592AD;
      padding-right: 5px;
    }
   
    &-value{
      padding-left: 5px;
    }
    &-name,&-value{
      position: relative;
      box-sizing: border-box;
      background-color: $white;
      z-index: 5;

    }
  }
  &__option +  &__option{
    margin-top: 10px;
  }
  &__bottom{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    background-color: $white;
    z-index: 50;
    padding: 0 20px 20px;
    box-sizing: border-box;
  }

}
a.preview-item__option-value{
  color: $red;
  text-decoration: underline;
  &:hover{
    color: $redHover;
    text-decoration-color: transparent;
  }
}
.counter{
  display: flex;
  text-align: center;
  height: 40px;
  border: 1px solid #C1C8D7;
  box-sizing: border-box;
  border-radius: 3px;

  &__button{
    height: 100%;
    max-width: 40px;
    width: 100%;
    flex-shrink: 0;
    line-height: 38px;
    color: #C1C8D7;
    background-color: transparent;
  }
  input{
    height: 38px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
}
.stickers{

  &__item{
    color: $white;
    border-radius: 2px;
    padding: 2.5px 6.5px;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    &:hover{
      color: $white;
    }
    &--new{
      background: linear-gradient(90deg, rgba(0,204,136,1) 0%, rgba(0,179,149,1) 100%);
    }
  }
  
}
.like-icons{
  // &__tofav{
  //   font-size: 18px;
  // }
  &__item{
    font-size: 18px;
    color: #8592AD;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & + .like-icons__item{
      margin-left: 15px;
    }

    svg{
      height: 20px;
      width: 20px;
      stroke: #8592AD;
    }
  }

}
.categories{
  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
  }
  &__item{
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    height: 160px;
    &-icon{
      height: 60px;
      width: 120px;
      svg{
        height: 100%;
        width: 100%;
      }
    }
    &-name{
      color: $navcolor;
      margin-bottom: 5px;
    }
    &-counter{
      font-size: 12px;
      line-height: 15px;
      color: #8592AD;
    }
    svg g,svg path{
      transition: .3s;
    }
    &:hover{
      svg g,svg path{
        stroke: $redHover !important;
      }
    }
   
  }
}
