@import "vars";
@import "libs";
@import "fonts";
$dark-pink:#0D1526;
$inputs-color:#132039;
$light-blue:#9FB5DF;
$dark-blue:#192B4D;
$grey:#808080;
$red:#FF0040;
$red-light:#FF3366;
$redHover:#E50039;
$navcolor:#14181F;
$pagcolor:#868A92;
$mainbg:#F0F1F5;
$green:#00B268;
$greennav:#00B377;
html{
    height: 100%;
    margin: 0;
}
body{
    height: 100%;
    font-family: 'Muller', 'sans-serif';
    margin: 0;
    // font-family: $kasperfort;
    font-size: 14px;
    line-height: 17px;
    // color: $main-color;
    // @include for-sm(){
    //     font-size: 12px;
    //     line-height: 14px;
    // }
}
input{
  appearance: none;
  outline: none;
  border: none;
}
a{
  color: $red-light;
  text-decoration: none;
  transition: .3s;
  &:hover{
    color: $redHover;
  }
}
img{
    max-width:100%
}
.wrapper{
    position: relative;
    // overflow: hidden;
    display: flex;
    width: 100%;
}
.content{
  transition: .3s;
  width: 100%;
  // &--active{
    
  // }
}

.container{
  max-width: 1500px;
  margin: 0 auto;
  width: 94%;
  @include for-desk(){
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }
}
.row{
  display: flex;

  &--align-center{
    align-items: center;
  }
}
button{
  cursor: pointer;
  outline: none;
  border: none;
}
.button{
  cursor: pointer;
  transition: .3s;
  font-size: 14px;
  line-height: 17px;
  border-radius: 3px;
  box-sizing: border-box ;
  display: inline-flex;
  color: $white;
  transition: .3s;
  text-align: center;
  &__icon{
    background-color: $redHover;
    width: 40px;
    margin-right: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px 0 0 3px;
    svg{
      height: 30px;
      width: 30px;
    }
  }
  &--round{
    color: $dark-pink;
    border: 1px solid $red;
    border-radius: 3px;
    padding: 10.5px 59px;
    &:hover{
      color: $white;
      background-color: $red;
    }
  }
  &--round-type-2{
    
    color: $red;
    border: 1px solid #8592AD;
    border-radius: 3px;
    padding: 10.5px 59px;
    &:hover{
      color: $white;
      background-color: $red;
      border-color: $red;
    }
  }
  &--grey{
    color: $navcolor;
    background-color: $mainbg;
    &:hover{
      background-color: #E0E4EB;
    }
  }
  &--default{
    background-color: $red;
    text-align: center;
    justify-content: center;
    &:hover{
      background-color: $redHover;
      color: $white;
    }
  }
  &--size-medium{
    padding: 11.5px 10px;
  }
  &--size-big{
    padding: 16.5px 20px;
    font-weight: 700;
  }
  &--with-icon{
    padding: 0 20px 0 0;
    box-sizing: border-box;
    background-color: $red;
    display: flex;
    justify-content: space-between;
    align-items: center;


  }
}
.nav-tabs{
  display: flex;
  align-items: center;
  &__item{
    display: flex;
    align-items: center;
    & + .nav-tabs__item{
      margin-left: 30px;
    }
    &-icon{
      position: relative;
      height: 30px;
      width: 30px;
      flex-shrink: 0;
     &:not(.nav-tabs__item-icon--without-info){
       margin-right: 15px;
     }
      svg{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &-value{
      position: absolute;
      width: 18px;
      height: 18px;
      top: -8px;
      right: -8px;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      text-align: center;
      font-size: 10px;
      line-height: 19px;
      color: $white;
      border: 2px solid $dark-pink;
      border-radius: 50%;
      &:not(.nav-tabs__item-value--active){
        background-color: $grey;
      }
      &--active{
        background-color: $red;
      }
    }
    &-top{
      a{
        font-size: 14px;
        line-height: 17px;
        color: $white;
        font-weight: 700;
      }
    }
    &-bottom{
      a{
        color: $light-blue;
      }
    }
  }
}
.header{
  padding: 20px 0;
  background-color: $dark-pink;

  &__row{
    justify-content: space-between;
    align-items: center;

    &--mobile{
      display: none;
      @include for-md(){
      display: flex;
      }
    }
    &--desktop{
      @include for-md(){
        display: none;
      }
    }
  }
  &__button{
    flex-shrink: 0;
    margin-right: 30px;
    // @include for-md(){
    //   display: none;
    // }
  }
  &__logo{
    max-width: 248px;
    height: 40px;
    flex-shrink: 0;
    // @include for-md(){
    //   display: none;
    // }
  }
  &__search{
    width: 100%;
    margin: 0 30px;
    // @include for-md(){
    //   display: none;
    // }
  }
  &__nav-tabs{
    flex-shrink: 0;
    // @include for-md(){
    //   display: none;
    // }
  }
  &__burger{
    position: relative;
    display: none;
    border: 1px solid #192B4D;
    border-radius: 3px;
    box-sizing: border-box;
    i{
      position: absolute;
      height: 100%;
      width: 100%;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;
    }
    .fa-xmark{
      opacity: 0;
    }
    &.is-active{
      .fa-xmark{
        opacity: 1;
      }
      .fa-bars{
        opacity: 0;
      }
    }
    @include for-md(){
      display: block;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      font-size: 20px;
    }
    
  }

}
.catalog-menu{
  // position: absolute;
  // left: 0;
  // top: 0;
  // z-index: 1000;
  max-width: 0;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  transition: .3s;
  // transform: translateX(-300px);
  background-color: #0A1429;

  
  &--active{
   max-width: 300px;
   width: 100%;
  }
  &__container{
    width: 300px;
  }
  &__exit-button{
    padding: 25px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    color: $white;
    background-color: $red;
    transition: .3s;
    &:hover{
      background-color: $redHover;
      color: $white;
    }
    svg{
      height: 30px;
      width: 30px;
      margin-left: 10px;
      flex-shrink: 0;
    }
  }
  &__item-name{
    margin-right: 10px;
  }
  &__list-title + .catalog-menu__list{
    padding-top: 0;
  }
  &__list{
    padding: 30px 30px 0;
    margin: 0;
    list-style: none;
    &-title{
      font-size: 12px;
      line-height: 30px;
      color: #9FB5DF;
      padding: 0 30px;
      margin: 20px 0;
      box-sizing: border-box;
    }
    a{
      position: relative;
      display: flex;
      align-items: center;
      color: $white;
      padding: 10px 0;
      box-sizing: border-box;

      &:before{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(0,204,136,0) 0%, rgba(19,32,59,1) 80%);
      }

    }
  
    &-icon{
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-start;
      flex-shrink: 0;
      margin-right: 20px;
     
      img{
        max-width: 100%;

      }
    }
    i:not(.fa-star-sharp){
      width: 20px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 16px;
      margin-left: auto;
      flex-shrink: 0;
    }
    &-brand{
      height: 30px;
      width: 30px;
      margin-right: 20px;
      flex-shrink: 0;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
  }
  
}
.main{
  background-color: $mainbg;
}
.logo{
  img{
    height: 100%;
  }
}
.search{
  &__logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 20px;
    left: 10px;
  }
  &__form{
    position: relative;

    &-input{
      height: 40px;
      background-color: $inputs-color;
      border-radius: 2px;
      display: block;
      width: 100%;
      padding: 0 25px 0 20px;
      box-sizing: border-box;
      transition: .3s;
      &::placeholder{
        color: $light-blue;
        transition: .3s;
      }
      &:focus{
        &::placeholder{
          opacity: 0;
        }
      }
      &--mob{
        padding: 0 20px 0 28px;
      }
    }
    &-voice-button{
      position: absolute;
      right: 10px;
      padding: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      color: $light-blue;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      cursor: pointer;
      i{
        font-size: 18px;
      }
    }
  }
}

.hero{
  padding: 30px;
  &__main-slider{
    width: 69.5%;
  }
  &__banners{
    width: 31.5%;
  }
  &__row{
    margin: 0 -15px;
  }
  &__main-slider,&__banners{
    padding: 0 15px;
    box-sizing: border-box;
  }
  &__banners-item{
    display: block;
    min-height: 200px;
    box-sizing: border-box;
    padding: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    &-name{
      margin-bottom: 10px;
    }
    &-name,&-coast{
      font-size: 16px;
      line-height: 20px;
      color: $white;
      display: block;
    }

    & + .hero__banners-item{
      margin-top: 30px;
    }
  }
}
.main-slider{
  &__swiper{
    height: 100%;
    position: relative;
    overflow: hidden;

  }
  &__swiper-slide{
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 60px;
    transition: .3s;
  }
  
  &__pretitle{
    font-size: 14px;
    line-height: 17px;
    color: $white;
  }
  &__title{
    font-size: 30px;
    line-height: 36px;
    color: $white;
    margin: 20px 0;
  }
  &__nav{
    position: absolute;
    left: 60px;
    display: flex;
    bottom: 60px;
    z-index: 50;
    &-arrow{
      font-size: 18px;
      color: $navcolor;
      background-color: $white;
      width: 40px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:first-child{
        border-radius: 3px 0 0 3px;
      }
      &:last-child{
        border-radius: 0 3px 3px 0;
      }
    }
    &-arrow + &-arrow{
      margin-left: 2px;
    }
  }
  &__swiper-pagination{
    position: absolute;
    top: 60px;
    right: 60px;
    z-index: 50;
    display: flex;
    .swiper-pagination-bullet{
      background-color: rgba($white, .5);
      transition: .3s;
      height: 6px;
      width: 6px;
      border-radius: 50%;


      &.swiper-pagination-bullet-active{
        background-color: rgba($white, 1);
      }
    }
    .swiper-pagination-bullet + .swiper-pagination-bullet{
      margin-left: 10px;
    }
  }
  &__bottom{
    box-sizing: border-box;
    padding-left: 95px;
  }
  &__button{
    max-width: 180px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
  }
}
.section-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  @include for-md(){
    margin-bottom: 15px;
  }
  &__title{
    margin: 0;
    font-size: 26px;
    line-height: 30px;
    color: $navcolor;
    @include for-md(){
      font-size: 20px;
      line-height: 24px;
    }
    
  }
  &__button{
    margin-left: 20px;
  }
}
.aboutUs{
  padding-top: 30px;
  @include for-md(){
    padding-top: 15px;
  }
  &__title{
    margin: 0 0 25px 0;
    font-size: 26px;
    line-height: 30px;
    @include for-sm(){
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 15px;
    }
    span{
      color: $red;
      @include for-sm(){
        display: block;
      }
    }
  }
  &__row{
    margin: 0 -15px;
    box-sizing: border-box;
    @include for-md(){
      flex-direction: column;
      margin: 0;
    }
  }
  &__item{
    width: 50%;
    padding: 0 15px;
    @include for-md(){
      padding: 0;
      width: 100%;
    }
  }
  &__item +  &__item{
    @include for-md(){
      margin-top: 15px;
    }
  }
  &__info{
    display: flex;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
    background-color: $white;
    @include for-md(){
      padding: 15px;
    }
  }
  &__left{
    flex-shrink: 0;
    width: 160px;
    margin-right: 30px;
    @include for-sm(){
      width: 45px;
      margin-right: 15px;
    }
  }
  &__right{
    width: 100%;
  }
  &__miniblog{
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: $white;
    @include for-md(){
      padding: 15px;
    }
  }
  &__content-block{
    @include for-sm(){
      margin-left: -60px;
    }
  }
}
.miniblog{
  &__row{
    margin: 0 -15px;
    @include for-md(){
      flex-wrap: wrap;
    }
  }
  &__item-container{
    padding: 0 15px;
    box-sizing: border-box;
    width: 33.3%;
    @include for-md(){
      width: 50%;
    }
    @include for-sm(){
      width: 100%;
    }
    &+&{
     @include for-sm(){
      margin-top: 15px;
     }
    }
  }
  
}
.blog-item{
  @include for-sm(){
    display: flex;
    
  }
  
  &__image-container{
    display: block;
    height: 155px;
    margin-bottom: 20px;
    @include for-sm(){
      width: 80px;
      height: 60px;
      margin-right: 15px;
      margin-bottom: 0;
    }
    img:not(.blog-item__image--noimage){
      object-fit: cover;
      object-position: calc();
      height: 100%;
      width: 100%;
      display: block;
    }
  }
  &__name{
    color: $red;
  }
  &__date{
    font-size: 12px;
    line-height: 15px;
    color: #8592AD;
    @include for-sm(){
      margin-top: 5px;
    }
  }
}
.reviews{
  margin: 30px 0;
  @include for-md(){
    margin: 15px 0;
  }
  &__row{
    padding: 30px;
    box-sizing: border-box;
    background-color: $white;
    @include for-md(){
      padding: 15px;
      flex-direction: column;
    }
  }
  &__icon-container{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    flex-shrink: 0;
    border-radius: 3px;
    background-color: $green;
    @include for-md(){
      height: 60px;
      width: 60px;
      margin-right: 15px;
    }
  }
  &__content{
    display: flex;
    width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
    @include for-md(){
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
    }
  }
  &__agr-list{
    width: 50%;
    padding-left: 30px;
    box-sizing: border-box;
    border-left: 1px solid #E0E4EB;
    display: flex;
    @include for-md(){
      border-left: 0;
      padding-left: 0;
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid #E0E4EB;
      width: 100%;
    }
  }
  &__title{
    font-size: 22px;
    line-height: 25px;
    color: $navcolor;
    margin: 0 0 0;
    @include for-md(){
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 23px;
    }
    &--desktop{
      @include for-md(){
        display: none;
      }
    }
    &--mobile{
      display: none;
      @include for-md(){
        display: block;
        width: 100%;
      }
    }
  }
  &__side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__rating{
    font-size: 30px;
    line-height: 40px;
    b{
      font-size: 40px;
    }
  }
  &__desc{
    color: #8592AD;
  }
}
.agr-list{
  &__row{
    margin: 0 -15px;
    width: 100%;
  }
  &__item-container{
    padding: 0 15px;
    box-sizing: border-box;
    width: 33.3%;
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #F6F7F9;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    @include for-md(){
      height: 50px;
    }

    img{
      max-height: 40px;
      @include for-md(){
        max-height: 16px;
      }
    }
  }
}

.tizers{
  background-color: $red;
  padding: 30px 0;
  &__row{
    margin: 0 -15px;
    @include for-md(){
      flex-wrap: wrap;
    }
  }
  &__item-container{
    padding: 0 15px;
    box-sizing: border-box;
    width: 33.3%;
    @include for-md(){
      width: 50%;
      &:nth-child(n + 3){
        margin-top: 30px;
      }
    }
    @include for-sm(){
      width: 100%;
      &:nth-child(n + 2){
        margin-top: 30px;
      }
    }
  }
  &__item{
    display: flex;
    align-items: center;
    &-image-container{
      height: 100px;
      width: 100px;
      flex-shrink: 0;
      margin-right: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: $white;
      @include for-sm(){
        height: 60px;
        width: 60px;
        margin-right: 15px;
      }
    }
    &-image{
      max-width: 100%;
      max-height: 50px;
      @include for-sm(){
        max-height: 30px;
      }
    }
    &-content{
      padding: 15px 0;
      box-sizing: border-box;
      color: $white;
      @include for-sm(){
        padding: 0;
      }
    }
    &-title{
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      margin-bottom: 15px;
      @include for-sm(){
        margin-bottom: 5px;
      }
    }
    &-desc{
      font-size: 12px;
      line-height: 15px;
      @include for-sm(){
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  

}
.visited{
  padding: 30px 0;
  box-sizing: border-box;
  &__title{
    position: relative;
    font-size: 18px;
    line-height: 21px;
    color: $navcolor;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    @include for-md(){
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 15px;
      padding-bottom: 15px;
    }

    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: linear-gradient(90deg, rgba(224,228,235,1) 50%, rgba(255,255,255,0) 100%);
    }
  }
  &__row{
    padding: 30px 30px 0;
    background-color: $white;
    @include for-md(){
      padding: 15px 15px 0;
    }
  }
  &__swiper-pagination{
    display: none;
    @include for-md(){
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
  }
  .swiper-pagination-bullet{
    transition:.3s;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: rgba($red, .5);
    margin: 0 5px;

    &.swiper-pagination-bullet-active{
      border-radius: 5px;
      background-color: $red;
      width: 24px;
    }
  }

}

.visited-slider{
  position: relative;
  overflow: hidden;
  &__wrapper{
    flex-wrap: wrap;
    display: flex;
  }
  &__slide{
    margin-bottom: 30px;
    margin-top: 0 !important;
    @include for-md(){
      margin-bottom: 15px;
    }
  }
}
.visited-item{
  display: flex;
  align-items: center;
  &__image-container{
    flex-shrink: 0;
    margin-right: 20px;
  }
  &__name{
    color: $navcolor;
    font-size: 14px;
    line-height: 21px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;

  }
  &__coast{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: $red;
  }
}
.footer{
  padding: 100px 0 50px;
  background-color: $dark-pink;
  color: $white;

  @include for-md(){
    padding: 20px 0;
  }

  &__row{
    margin: 0 -15px;
    justify-content: space-between;
    flex-wrap: wrap;
    &--bottom{
      @include for-sm(){
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &__item{
    padding: 0 15px;
    box-sizing: border-box;

    &--w25{
      width: 25%;
      @include for-md(){
        width: 50%;
        margin-bottom: 15px;
      }
      @include for-sm(){
        width: 100%;
      }
    }
    &--grow{
      flex-grow: 1;
    }
  }
  &__title{
    margin-bottom: 20px;
    
    @include for-md(){
      margin-bottom: 20px;
    }
    @include for-sm(){
     position: relative;
     margin-bottom: 0;
    }
    a{
      font-size: 30px;
      line-height: 33px;
      font-weight: 500;
      color: $white;
    
      @include for-md(){
        font-size: 24px;
        line-height: 27px;
      }
      @include for-sm(){
        display: block;
        background-color: #132039;
        border-radius: 3px;
        font-size: 14px;
        line-height: 17px;
        padding: 16.5px 15px;

      }
    }
   
    &:after{
      content: '';
      display: block;
      background-color: $red-light;
      height: 2px;
      width: 50px;
      margin-top: 15px;
      @include for-sm(){
        display: none;
      }
    }
    &.is-active{
      .footer__title-btn i{
        transform: rotate(45deg);
      }
    }
    &-btn{
      display: none;
      @include for-sm(){
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 50;
        height: 100%;
        width: 50px;
        text-align: center;
        color: #9FB5DF;

        i{
          font-size: 18px;
          line-height: 21px;
          transition: .3s;
        }
      }
    }
  }

  &__nav-list,&__contacts{
    padding: 0;
    margin: 0;
    list-style: none;
   &Item + .footer__nav-listItem{
     margin-top: 10px;
   }
  }
  &__nav,&__contacts{
    @include for-sm(){
      display: none;
      padding-top: 15px;
    }
  }
  &__link{
    color: #9FB5DF;
    font-size: 14px;
    line-height: 17px;
    transition: .3s;
    &:hover{
      color: $white;
    }
  }
  &__contacts-item{
    display: flex;
    align-items: flex-start;
    color: $light-blue;
    font-size: 14px;
    line-height: 17px;
    & + .footer__contacts-item{
      margin-top: 10px;
    }
    i{
      flex-shrink: 0;
      margin-right: 10px;
      font-size: 16px;
      color: $white;
    }
  }
  &__copy{
    font-size: 14px;
    line-height: 18px;
    color: $white;
    margin-top: 70px;
    @include for-sm(){
      margin-top: 0;
    }
    p{
      margin: 0;
    }
  }
  &__social{
    margin-top: 50px;
    @include for-sm(){
      margin-top: 30px;
    }
  }
  &__pays{
    display: flex;
    align-items: center;
    margin-top: 20px;
    img{
      max-height: 30px;
    }
    img + img{
      margin-left: 15px;
    }
  }
  &__bottom{
    margin-top: 30px;
    padding-top: 50px;
    border-top: 1px solid $dark-blue;
    @include for-sm(){
      margin-top: 20px;
    }
  }
  &__otherMenu{
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    @include for-sm(){
      padding-top: 30px;
      columns: 2;
      display: block;
    }
    &-item{
      &:nth-child(n+2){
        @include for-sm(){
          margin-top: 10px;
        }
      }
      a{
        display: block;
        padding: 11.5px 25px;
      }
    }
    &-item + .footer__otherMenu-item{
      margin-left: 15px;
      @include for-sm(){
        margin-left: 0;
      }
    }
  }
  &__logo{
    display: flex;
    align-items: center;
    @include for-sm(){
      flex-direction: column;
    }
    img{
      max-width: 45px;
      flex-shrink: 0;
      margin-right: 20px;
      @include for-sm(){
        margin-bottom: 15px;
        margin-right: 0;
      }
    }
    &-content{
      width: 100%;
      
    }
    &-dev{
      font-size: 10px;
      line-height: 13px;
      @include for-sm(){
        text-align: center;
        margin-top: 2px;
      }

    }

  }

  
}
.social{
  &__list{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__list-item + .social__list-item{
    margin-left: 15px;
  }
  &__link{
    position: relative;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
    font-size: 14px;
    line-height: 17px;
    transition: .3s;
    border-radius: 3px;
    &:hover{
      color: $white;
    }
    &--vk{
      border: 1px solid #0080FF;
      &:hover{
        background-color: #0080FF;
      }
    }
    &--fb{
      border: 1px solid #002BFF;
      &:hover{
        background-color: #002BFF;
      }
    }
    &--in{
      border: 1px solid #FF007F;
      &:hover{
        background-color: #FF007F;
      }
    }
  }
}

.catalog-preview{
  padding: 30px 0;
  @include for-md(){
    padding: 15px 0;
  }
  &__row{
    margin: 0 -1px;
  }
  &__item-container{
    width: 20%;
    box-sizing: border-box;
    padding: 0 1px;
  }
  &__button-container{
    background-color: $white;
  }
  &__button{
    display: block;
   
    width: calc(20% + 3px);
    box-sizing: border-box;
    border-right: 2px solid $mainbg;
    border-left: 2px solid $mainbg;
    margin: 0 auto;
    color: $red;
    text-transform: uppercase;
    // background-color: ;
  }
}
.preview-item{
  position: relative;
  background-color: $white;
  padding: 10px 20px 20px;
  box-sizing: border-box;
  transition: .3s;
  
  &:hover{
    box-shadow: 0px 5px 15px 0px rgba(194, 201, 214, .9);
    z-index: 100;
    .preview-item__bottom{
      display: block;
      box-shadow: 0px 15px 15px 0px rgba(194, 201, 214, .9);
    }
  }
  &__stickers{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  &__image-container{
    position: relative;
    overflow: hidden;
  }
  &__image-slider{
    position: relative;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  &__stickers{
    position: absolute;
    top: 0;
  }
  &__image-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 195px;
    width: 100%;
    img{
      max-height: 205px;
    }
  }
  &__swiper-pagination{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    .swiper-pagination-bullet{
      height: 2px;
      background-color: #E0E4EB;
      transition: .3s;
      width: calc(25% - 2px);
      &.swiper-pagination-bullet-active{
        background-color: #C1C8D7;
      }
    }

    
  }
  &__rating{
    display: flex;
    align-items: center;

    &:hover{
      color: $white;
    }
    &-value{
      display: flex;
      font-size: 12px;
      line-height: 12px;
      padding: 5px 7px 5px 5px;
      box-sizing: border-box;
      border-radius: 0 5px 5px 0;
      background-color: $greennav;
      align-items: center;
      margin-right: 8px;
      flex-shrink: 0;
      color: $white;
      i{
        font-size: 10px;
        line-height: 13px;
        margin-right: 3px;
      }
    }
    &-text{
      display: none;
    }
    &-counter{
      font-size: 12px;
      line-height: 15px;
      color: #8592AD;
    }
   
  }
  &__name{
    color: $dark-pink;
    font-size: 14px;
    line-height: 17px;

  }
  &__info{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &-vendor{
      font-size: 12px;
      line-height: 15px;
      color: #8592AD;
    }


  }

  &__coast{
    &-value{
      font-size: 18px;
      line-height: 21px;
      color: $dark-pink;
      font-weight: 700;

      span{
        font-size: 12px;
        line-height: 15px;
        color: #8592AD;
        font-weight: 400;
      }
    }
  }
  &__available{
   
    font-size: 12px;
    line-height: 15px;

    &--true{
      color: $greennav;
    }

    &-value{
      font-size: 12px;
      line-height: 15px;
      color: #8592AD;
      display: none;
      i{
        margin-right: 5px;
      }

    }
  }

  &__counter-wrap{
    display: flex;
  }
  &__counter{
    margin-right: 5px;
    width: 50%;
  }
  &__addToCart{
    width: 50%;
    margin-left: 5px;
  }
  &__fastBuy{
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
  &__options{
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
  }
  &__option{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 15px;
    &:before{
      content: '';
      position: absolute;
      bottom: 5px;
      right: 0;
      width: 100%;
      border-top: 1px dotted #8592AD;
    }
    &-name{
      color: #8592AD;
      padding-right: 5px;
    }
   
    &-value{
      padding-left: 5px;
    }
    &-name,&-value{
      position: relative;
      box-sizing: border-box;
      background-color: $white;
      z-index: 5;

    }
  }
  &__option +  &__option{
    margin-top: 10px;
  }
  &__bottom{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    background-color: $white;
    z-index: 50;
    padding: 0 20px 20px;
    box-sizing: border-box;
  }

}
a.preview-item__option-value{
  color: $red;
  text-decoration: underline;
  &:hover{
    color: $redHover;
    text-decoration-color: transparent;
  }
}
.counter{
  display: flex;
  text-align: center;
  height: 40px;
  border: 1px solid #C1C8D7;
  box-sizing: border-box;
  border-radius: 3px;

  &__button{
    height: 100%;
    max-width: 40px;
    width: 100%;
    flex-shrink: 0;
    line-height: 38px;
    color: #C1C8D7;
    background-color: transparent;
  }
  input{
    height: 38px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
}
.stickers{

  &__item{
    color: $white;
    border-radius: 2px;
    padding: 2.5px 6.5px;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    &:hover{
      color: $white;
    }
    &--new{
      background: linear-gradient(90deg, rgba(0,204,136,1) 0%, rgba(0,179,149,1) 100%);
    }
  }
  
}
.like-icons{
  // &__tofav{
  //   font-size: 18px;
  // }
  &__item{
    font-size: 18px;
    color: #8592AD;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & + .like-icons__item{
      margin-left: 15px;
    }

    svg{
      height: 20px;
      width: 20px;
      stroke: #8592AD;
    }
  }

}
.categories{
  padding-bottom: 30px;
  @include for-md(){
    padding-bottom: 15px;
  }
  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    @include for-md(){
      grid-template-columns: 1fr 1fr 1fr 1fr;
      
    }
    @include for-sm(){
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 15px;
      grid-row-gap: 15px;
    }
  }
  &__item{
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    height: 160px;
    @include for-sm(){
      height: 150px;
      padding: 30px 25px;
    }
    &-icon{
      height: 60px;
      width: 120px;
      @include for-sm(){
        width: 60px;
        margin-bottom: 15px;
      }
      svg{
        height: 100%;
        width: 100%;
      }
    }
    &-name{
      color: $navcolor;
      margin-bottom: 5px;

      @include for-sm(){
        margin-bottom: 0;
      }
    }
    &-counter{
      font-size: 12px;
      line-height: 15px;
      color: #8592AD;
      @include for-sm(){
        display: none;
      }
    }
    svg g,svg path{
      transition: .3s;
    }
    &:hover{
      svg g,svg path{
        stroke: $redHover !important;
      }
    }
   
  }
}
.content-block{
  p{
    color: $dark-pink;
    line-height: 25px;
    &:first-child{
      margin-top: 0;
    }
    // &+p{
    //   margin-top: 10px;
    // }
  }
}
.flyBasket{
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 5000;
  background-color: #8F96A3;

  &__bg{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
  }
  &__container{
    position: relative;
    z-index: 200;
    width: 460px;
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;
  }
  .ss-scroll{
    width: 5px;
    background-color: #E0E4EB;
  }
  &__body{
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  &__header,&__footer{
    flex-shrink: 0;
  }
  &__header{
    padding: 25px 35px;
    box-sizing: border-box;
    background-color: $red;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  &__close{
    height: 30px;
    width: 30px;
    
    cursor: pointer;
    svg{
      height: 100%;
      width: 100%;
    }
  }
  &__title{
    font-size: 22px;
    line-height: 25px;
    color: $white;
  }
  &__body{
    padding: 10px 30px;
  }
  &__scroll{
    max-height: 100%;
    height: 100%;
  }
  &__footer{
    padding: 30px;
    box-sizing: border-box;
    border-top: 1px solid #E0E4EB;
  }
  &__total{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    color: #14181F;

    &-value{
      
      font-size: 22px;
      line-height: 25px;
      font-weight: 700;
    }
    &-title{
         font-size: 22px;
      line-height: 25px;
    }
    &-desc{
      font-size: 12px;
      line-height: 15px;
    }
  }
  &__buttons{
    display: flex;
    margin: 0 -10px;
    // justify-content: space-between;
  }
  &__button{
    width: 50%;
    margin: 0 10px;
    text-align: center;
    justify-content: center;

    &--fastOrder{
      box-shadow: 0px 5px 8px 0px rgba(255, 0, 65, 0.5);
    }
  }
}
.promocode{
  position: relative;
  &__button{
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 54px;
    z-index: 10;
    color: #8592AD;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;

    i{
      transition: .3s;
    }
    &:hover{

      i{
        transform: translateX(10px);
      }
    }
  }
  &__input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 55px 0 15px;
    box-sizing: border-box;
    background-color: rgba(#E0E4EB, .3);
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    color: #8592AD;

    &::placeholder{
      color: #8592AD;
      transition: .3s;
    }
    &:focus{
      &::placeholder{
        opacity: 0;
      }
    }
  }
}
.flyBasket-item{
  display: flex;
  padding: 20px 25px 20px 0;
  box-sizing: border-box;
  &:not(:last-child){
    border-bottom: 1px dotted #E0E4EB;
  }
  &__image-container{
    flex-shrink: 0;
    margin-right: 20px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      max-width: 100%;
    }
  }
  &__top{
    display: flex;
    justify-content: space-between;
  }
  &__name{
    font-size: 14px;
    line-height: 17px;
    color: #0D1526;
  }
  &__remove-button{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: #FFE5EC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 21px;
    color: $red;
    flex-shrink: 0;
    margin-left: 15px;
  }
  &__bottom{
    display: flex;
    margin-top: 15px;
    // justify-content: space-between;

  }
  &__counter{
    max-width: 90px;
    background-color: #F6F7F9;
    margin: 0 15px;
    border-color: #F6F7F9;
    input{
      background-color: #F6F7F9;
      color: $dark-pink;
    }
    .counter__button{
      width: 25px;
    }
  }
  &__coast{
    font-weight: 700;
    line-height: 21px;
    &-title{
      font-size: 12px;
      line-height: 18px;
      color: #8592AD;
    }
  }
  &__all-elems{
    margin-left: auto;
    text-align: right;
  }
}
:root {
  --clrWhite: white;
  --clrBlack: hsl(220, 50%, 10%);
  --clrGray: hsl(230, 10%, 60%);
  --clrGraySlate: hsl(220, 20%, 80%);
  --clrGrayLight: hsl(220, 20%, 90%);
  --clrGrayLight50: hsla(220, 20%, 90%, 50%);
  --clrGrayLight25: hsla(220, 20%, 90%, 25%);
  --clrRed: hsl(345, 100%, 50%);
  --clrBlue: hsl(220, 80%, 50%);
}

.header_mobile {
  background: var(--clrRed);
  padding: 0 1em;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
}

.header_mobile > .header_logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.header_mobile > .header_logo img {
  height: 20px;
  width: auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: var(--clrBlack);
  font-family: "Muller", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.75;
  font-size: 14px;
  margin: 0;
}

.header_mobile nav {
  display: none;
}

.mmenu_open {
  margin-left: auto;
  display: grid;
  grid-gap: 2px;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 20px 0;
  // background: ;
}

.mmenu_open span {
  display: block;
  background: #fff;
  height: 2px;
  width: 100%;
}

.mmenu_open:before,
.mmenu_open:after {
  content: "";
  display: block;
  background: #fff;
  height: 2px;
  width: 100%;
}

/* Custom skin */
.mmenu_header img {
  display: none;
}

.mm-spn--main img {
  padding: 20px;
  height: 20px;
  display: block;
}

.mmenu_footer p {
  opacity: 0.5;
  margin-top: 0;
}

:root {
  --mm-ocd-width: 80%;
  --mm-ocd-min-width: 200px;
  --mm-ocd-max-width: 440px;
}
body.mm-ocd-opened {
  overflow-y: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}
.mm-ocd {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  background: rgba(0, 0, 0, 0);
  -webkit-transition-property: bottom, background-color;
  -o-transition-property: bottom, background-color;
  transition-property: bottom, background-color;
  -webkit-transition-duration: 0s, 0.3s;
  -o-transition-duration: 0s, 0.3s;
  transition-duration: 0s, 0.3s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0.45s, 0.15s;
  -o-transition-delay: 0.45s, 0.15s;
  transition-delay: 0.45s, 0.15s;
}
.mm-ocd--open {
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.mm-ocd__content {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 80%;
  width: var(--mm-ocd-width);
  min-width: 200px;
  min-width: var(--mm-ocd-min-width);
  max-width: 440px;
  max-width: var(--mm-ocd-max-width);
  background: #fff;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.mm-ocd--left .mm-ocd__content {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.mm-ocd--right .mm-ocd__content {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.mm-ocd--open .mm-ocd__content {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mm-ocd__backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: calc(100% - 80%);
  width: calc(100% - var(--mm-ocd-width));
  min-width: calc(100% - 440px);
  min-width: calc(100% - var(--mm-ocd-max-width));
  max-width: calc(100% - 200px);
  max-width: calc(100% - var(--mm-ocd-min-width));
  background: rgba(3, 2, 1, 0);
}
.mm-ocd--left .mm-ocd__backdrop {
  right: 0;
}
.mm-ocd--right .mm-ocd__backdrop {
  left: 0;
}
.mm-spn,
.mm-spn a,
.mm-spn li,
.mm-spn span,
.mm-spn ul {
  display: block;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
   --mm-spn-head-height: 60px;
  --mm-spn-item-height: 50px;
  --mm-spn-item-indent: 20px;
  --mm-spn-line-height: 24px;
}
.mm-spn {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.mm-spn ul {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 2;
  width: 130%;
  padding-right: 30%;
  line-height: 24px;
  line-height: var(--mm-spn-line-height);
  overflow: visible;
  overflow-y: auto;
  background: inherit;
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  cursor: default;
}
.mm-spn ul:after {
  content: "";
  display: block;
  height: 50px;
  height: var(--mm-spn-item-height);
}
.mm-spn > ul {
  left: 0;
}
.mm-spn ul.mm-spn--open {
  left: 0;
}
.mm-spn ul.mm-spn--parent {
  left: -30%;
  overflow-y: hidden;
}
.mm-spn li {
  position: relative;
  background: inherit;
  cursor: pointer;
}
.mm-spn li:before {
  content: "";
  display: block;
  position: absolute;
  top: 25px;
  top: calc(var(--mm-spn-item-height) / 2);
  right: 25px;
  right: calc(var(--mm-spn-item-height) / 2);
  z-index: 0;
  width: 6px;
  height: 6px;
  border-top: 1px solid;
  border-right: 1px solid;
  -webkit-transform: rotate(45deg) translate(0, -50%);
  -ms-transform: rotate(45deg) translate(0, -50%);
  transform: rotate(45deg) translate(0, -50%);
  opacity: 0.4;
}
.mm-spn li:after {
  content: "";
  display: block;
  margin-left: 20px;
  margin-left: var(--mm-spn-item-indent);
  border-top: 1px solid;
  opacity: 0.1;
}
.mm-spn a,
.mm-spn span,
.mmenu_footer {
  position: relative;
  z-index: 1;
  padding: 13px 20px;
  padding: calc((var(--mm-spn-item-height) - var(--mm-spn-line-height)) / 2)
    var(--mm-spn-item-indent);
}
.mm-spn a {
  background: inherit;
  color: inherit;
  text-decoration: none;
}
.mm-spn a:not(:last-child) {
  width: calc(100% - 50px);
  width: calc(100% - var(--mm-spn-item-height));
}
.mm-spn a:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 1px solid;
  opacity: 0.1;
}
.mm-spn span {
  background: 0 0;
}
.mm-spn.mm-spn--navbar {
  cursor: pointer;
}
.mm-spn.mm-spn--navbar:before {
  content: "";
  display: block;
  position: absolute;
  top: 25px;
  top: calc(var(--mm-spn-head-height) / 2);
  left: 20px;
  left: var(--mm-spn-item-indent);
  width: 10px;
  height: 10px;
  margin-top: 2px;
  border-top: 1px solid;
  border-left: 1px solid;
  -webkit-transform: rotate(-45deg) translate(50%, -50%);
  -ms-transform: rotate(-45deg) translate(50%, -50%);
  transform: rotate(-45deg) translate(50%, -50%);
  opacity: 0.4;
}
.mm-spn.mm-spn--navbar.mm-spn--main {
  cursor: default;
}
.mm-spn.mm-spn--navbar.mm-spn--main:before {
  content: none;
  display: none;
}
.mm-spn.mm-spn--navbar:after {
  content: attr(data-mm-spn-title);
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  right: 0;
  height: 50px;
  height: var(--mm-spn-item-height);
  padding: 0 40px;
  padding: 0 calc(var(--mm-spn-item-indent) * 2);
  line-height: 60px;
  line-height: var(--mm-spn-head-height);
  opacity: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-weight: bold;
  text-transform: uppercase;
}
.mm-spn.mm-spn--navbar.mm-spn--main:after {
  padding-left: 20px;
  padding-left: var(--mm-spn-item-indent);
}
.mm-spn.mm-spn--navbar ul {
  top: 61px;
  top: calc(var(--mm-spn-head-height) + 1px);
}
.mm-spn.mm-spn--navbar ul:before {
  content: "";
  display: block;
  position: fixed;
  top: inherit;
  z-index: 2;
  width: 100%;
  border-top: 1px solid currentColor;
  opacity: 0.1;
}
.mm-spn.mm-spn--light {
  color: #192b4d;
  background: #ffffff;
}
.mm-spn.mm-spn--dark {
  color: #ddd;
  background: #333;
}
.mm-spn.mm-spn--vertical {
  overflow-y: auto;
}
.mm-spn.mm-spn--vertical ul {
  width: 100%;
  padding-right: 0;
  position: static;
}
.mm-spn.mm-spn--vertical ul ul {
  display: none;
  padding-left: 20px;
  padding-left: var(--mm-spn-item-indent);
}
.mm-spn.mm-spn--vertical ul ul:after {
  height: 25px;
  height: calc(var(--mm-spn-item-height) / 2);
}
.mm-spn.mm-spn--vertical ul.mm-spn--open {
  display: block;
}
.mm-spn.mm-spn--vertical li.mm-spn--open:before {
  -webkit-transform: rotate(135deg) translate(-50%, 0);
  -ms-transform: rotate(135deg) translate(-50%, 0);
  transform: rotate(135deg) translate(-50%, 0);
}
.mm-spn.mm-spn--vertical ul ul li:last-child:after {
  content: none;
  display: none;
}


.mm-panels{
  background-color: $white;
}
.mm-panel{
  background-color: $white;
}
.mm-listitem:after{
  left: 0;
  border-color: #E0E4EB;
}
.mm-listitem__btn:not(.mm-listitem__text){
  border-color: #E0E4EB;
}
.mobile-menu{
  &__header{
    padding: 20px 15px;
    box-sizing: border-box;
  }
}
.mm-panel:not(.mm-panel--parent)  .mm-navbar{
  display: none;
}

.mm-spn li:after{
  margin-left: 0;
}
.mm-spn a {
  display: flex;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 5px;
  font-size: 14px;
  line-height: 18px;
  color: #14181F;
  min-height: 50px;
}
.mm-spn a > img{
  max-width: 30px;
  flex-shrink: 0;
  margin-right: 10px;
}
.mm-spn a > i{
  margin-top: -5px;
  margin-right: 5px;
  width: 25px;
}
.mm-spn li:before{
  width: 7px;
  height: 7px;
  border-color: #8592AD;
}
.mm-spn.mm-spn--navbar:before{
  content: '\f060';
 font-family: "Font Awesome 6 Pro";
 transform: none;
 border: none;
 opacity: 1;
 color: #14181F;
 font-size: 18px;
 margin-top: -14px;
}

.mobile-links{
  display: none;
  @include for-md(){
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background-color: $white;
    border-top: 1px solid #E0E4EB;

  }
  &__list{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

  }
  &__item{
    width: 20%;
    a{
      display: block;
      display: flex;
      justify-content: center;
      align-content: center;
      text-align: center;
      font-size: 20px;
      line-height: 23px;
      color: #8592AD;
      padding: 18px 0;
      box-sizing: border-box;
    }
  }
}
